<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">My Detials</h4>
                        </div>
                        <!-- <div class="col-sm-9 col-xs-12 text-right"> -->
                            <!-- <div class="btn_group"> -->
                                <!-- <input type="text" class="form-control" placeholder="Search"> -->
                                <!-- <a href="employee/register" class="btn btn-default" title="Add"><i class="fa fa-plus"></i></a> -->
                                <!-- <button (click)="reload()" class="btn btn-default" title="Reload"><i class="fa fa-refresh"></i></button> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <!-- <thead>
                            <tr>
                                <th>Id</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>EmployeeStatus</th>
                                <th>Action</th>

                            </tr>
                        </thead> -->
                        <tbody>
                            <!-- <ng-container *ngFor="let employee of employees"> -->
                                <tr>
                                    <!-- <td>
                                        
                                        <button (click)="toggleDetails(employee)"
                                            class="btn btn-link " style="color: #FFC312;">{{employee.employeeId}} <i class="fa fa-plus"
                                                *ngIf="!employee.showDetails"></i><i class="fa fa-minus"
                                                *ngIf="employee.showDetails"></i></button>
                                    </td> -->
                                    <!-- <td>{{employee.firstName}}</td>
                                    <td>{{employee.lastName}}</td>
                                    <td>{{employee.employmentStatus}}</td> -->
                                    <td style="text-align: right;">
                                        <ul class="action-list">
                                            <li><a [routerLink]="['/employee', employee.employeeId, 'update']" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                            <!-- <li><a href="employee/delete" data-tip="delete"><i class="fa fa-trash"></i></a></li>  -->
                                       </ul>
                                    </td> 
                                </tr> 
                                <tr >
                                    <td colspan="100%">
                                        <div class="column">
                                            <p>FirstName: {{employee.firstName}}</p>
                                            <p>LastName: {{employee.lastName}}</p>
                                            <p>DOB: {{employee.dateOfBirth | date: 'MM-dd-yyyy'}}</p>
                                            <p>Gender: {{employee.gender}}</p>
                                            <p>Address: {{employee.address}}</p>
                                            <p>PhoneNumer: {{employee.phoneNumber}}</p>
                                        </div>
                                        <div class="column">
                                            <p>EmploymentStatus: {{employee.employmentStatus}}</p>
                                            <p>Email: {{employee.email}}</p>
                                            <p>JobTitle: {{employee.jobTitle}}</p>
                                            <p>Manger: {{employee.managerId}}</p>
                                            <p>BusinessUnit: {{employee.businessUnit.businessUnitId}}</p>
                                            <p>Role: {{employee.role}}</p>
                                        </div>
                                    </td>
                                </tr>
                            <!-- </ng-container> -->
                        </tbody>
                    </table>
                </div>
                <!--Footer or pagination code goes here-->
            </div>
        </div>
    </div>
</div>